  <header>
        <div class="navbar app-nav">
            <div class="navlogo">
               <img src="../../assets/Logo.png" alt="Quantum LMS logo">
            </div>
            <span class="navtextcontent">
                <p class="navcontent active">CONTENT</p>
                <p class="navcontent">USERS</p>
                <p class="navcontent">ADMIN</p>
                <div class="navcontent">
                    <div class="userProfile">
                        PA
                    </div>
                 </div>
            </span>
        </div>
    </header>

