.newquesback{
    margin-top: 3px;
    background-color: #3C4E62;
    height: 53px;
    font-family: Quicksand;

    .newquesbox{
        display: flex;
        height: 53px;
        align-items: center;
        justify-content: space-between;
        padding-left: 24px;
        padding-right: 24px;

    .midheader{
        color: white;
        font-size: 18px;
    }
}

    .savebuttons{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 16px;
    }

    .opts{
        height: 28px;
        width: 92px;
        background-color: #3FD28B;
        border-radius: 2px;
        display: flex;
        font-size: 14px;
        font-weight: 600;
        justify-content: center; 
        align-items: center;     
        text-align: center; 
        // opacity: 0.38;
    }

    .opt2{
        opacity: 0.38;
    }

}