<div class="mainbig">
  <div class="slide">
    <div class="slide-label">Image Opacity</div>
    <div class="slide-input">
      <input class="slider" type="range"/>
    </div>
  </div>

  <div class="mainblue">
    <div class="settings">
      <div class="settings-label">Hotspot Settings</div>
      <div class="settings-select">
        <select class="selectopt" name="cars" id="cars">
          <option value="rect">Rectangle</option>
          <option value="circle">Circle</option>
        </select>
      </div>
    </div>

    <div class="count">
      <div class="count-label">
        <div>Hotspot Regions</div>
        <div class="clear-all" (click)="clearHotspots()">Clear All</div>
      </div>
      <div class="count-input">
        <div></div>
        <!-- <div *ngFor="let label of hotspotLabels" class="hotspot-label">{{ label }}</div> -->
      </div>
    </div>

    <div class="colours">
        <div class="color-section">
            <div class="section-title">Fill Color</div>
            <div class="color-picker-row">
              <div class="color-picker">
                <label class="label">Unselected</label>
                <div class="color-input-wrapper">
                  <input type="color" class="color-box" id="fillUnselectedColor" value="#1F7A54" />
                  <input type="text" class="hex-input" id="fillUnselectedHex" value="#1F7A54" readonly />
                  <svg xmlns="http://www.w3.org/2000/svg" class="icon" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M19.4 10.6L13.4 4.6 4 14v4h4l9.4-9.4a2 2 0 0 0 0-2.8z"></path><path d="M16 7l1 1"></path></svg>
                </div>
              </div>
          
              <div class="color-picker">
                <label class="label">Selected</label>
                <div class="color-input-wrapper">
                  <input type="color" class="color-box" id="fillSelectedColor" value="#FFDD84" />
                  <input type="text" class="hex-input" id="fillSelectedHex" value="#FFDD84" readonly />
                  <svg xmlns="http://www.w3.org/2000/svg" class="icon" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M19.4 10.6L13.4 4.6 4 14v4h4l9.4-9.4a2 2 0 0 0 0-2.8z"></path><path d="M16 7l1 1"></path></svg>
                </div>
              </div>
            </div>
          
            <div class="section-title">Outline Color</div>
          
            <div class="color-picker-row">
              <div class="color-picker">
                <label class="label">Unselected</label>
                <div class="color-input-wrapper">
                  <input type="color" class="color-box" id="outlineUnselectedColor" value="#1F7A54" />
                  <input type="text" class="hex-input" id="outlineUnselectedHex" value="#1F7A54" readonly />
                  <svg xmlns="http://www.w3.org/2000/svg" class="icon" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M19.4 10.6L13.4 4.6 4 14v4h4l9.4-9.4a2 2 0 0 0 0-2.8z"></path><path d="M16 7l1 1"></path></svg>
                </div>
              </div>
          
              <div class="color-picker">
                <label class="label">Selected</label>
                <div class="color-input-wrapper">
                  <input type="color" class="color-box" id="outlineSelectedColor" value="#FFDD84" />
                  <input type="text" class="hex-input" id="outlineSelectedHex" value="#FFDD84" readonly />
                  <svg xmlns="http://www.w3.org/2000/svg" class="icon" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M19.4 10.6L13.4 4.6 4 14v4h4l9.4-9.4a2 2 0 0 0 0-2.8z"></path><path d="M16 7l1 1"></path></svg>
                </div>
              </div>
            </div>
          </div>
          
    </div>
  </div>
</div>
