<div class="propbox">
    <div class="box box1">
        <div class="greencircle">
            <img src="../../assets/circle.png" alt="">
        </div>
        <div class="proptext">
            Question Properties
        </div>
    </div>
    <div class="line">
         <hr>
    </div>
    <div class="box box2">
        <div class="greencircle">
            <img src="../../assets/circle.png" alt="">
        </div>
        <div class="proptext">
            Question Content
        </div>
    </div>
</div>
