<div class="quemain">
     <div class="quesstatement">
        <div class="txtmain">
          <div class="stem">
             Question (Stem)*
          </div>
          <div class="field">
            *Fields are required
          </div>
        </div>
        <div class="questxtbox">
          <input class="realtxtbox" type="text" placeholder="Select countries with population less than 100000">
        </div>
     </div>
     <div class="inline">
      <app-image-canvas class="first"></app-image-canvas>
      <app-image-properties class="second"></app-image-properties>
     </div>
</div>
