.quemain {
  height: 1328px;
  background-color: white;
  margin: 24px;

  .quesstatement {
    margin: 24px;
    padding-top: 24px;

    .txtmain {
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-size: 12px;
    }
  }

  .questxtbox{
    padding-top: 12px;
    width: 100%;

    .realtxtbox{
        width: 100%;
        border-bottom: 1px solid #ccc;
        border-top: none;
        border-left: none;
        border-right: none;
        outline: none;
        font-size: 16px;
        font-weight: 700;
        padding-bottom: 4px;
    }
  }
}
